.swiper-button-next,
.swiper-button-prev
{
    top: 0;
    bottom: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 40px;
    height: 41px;
    margin: auto;

    transition: color .2s linear;
    transform: none;

    color: #fff;
}

.swiper-button-prev
{
    left: 50%;

    margin-left: -690px;
}

.swiper-button-next
{
    right: 50%;

    margin-right: -690px;
}

.swiper-button-next:after,
.swiper-button-prev:after
{
    display: none;
}


.swiper-button-next .icon,
.swiper-button-prev .icon
{
    display: block;

    width: 20px;
    height: 21px;
}

.swiper-button-next .icon
{
    transform: rotate(180deg);
}


.swiper-button-next:hover,
.swiper-button-prev:hover
{
    color: #1f394c !important;
}



.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}



.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction
{
    position: absolute;
    bottom: -36px;
    left: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: 6px;

    pointer-events: none;
}


.swiper-pagination-bullet
{
    position: relative;

    display: block;

    width: 6px;
    height: 6px;

    transition: .2s linear;
    pointer-events: auto;

    opacity: 1;
    border-radius: 50%;
    background: #ccd6dd;
}

.swiper-pagination-bullet:before
{
    position: absolute;
    z-index: -2;
    top: 50%;
    left: 50%;

    display: block;

    width: calc(100% + 18px);
    height: calc(100% + 18px);

    content: '';
    transform: translate(-50%, -50%);
    pointer-events: none;

    opacity: 0;
    border-radius: 50%;
    background: #f0f3f5;
}

.swiper-pagination-bullet:after
{
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;

    display: block;

    width: calc(100% + 10px);
    height: calc(100% + 10px);

    content: '';
    transform: translate(-50%, -50%);
    pointer-events: none;

    opacity: 0;
    border-radius: 50%;
    background: #e0e6eb;
}


.swiper-pagination-bullet + .swiper-pagination-bullet
{
    margin-left: 30px !important;
}


.swiper-pagination-bullet:hover,
.swiper-pagination-bullet.active
{
    background: #1f394c;
    box-shadow: 0 0 0 2px #1f394c;
}

.swiper-pagination-bullet.active:before,
.swiper-pagination-bullet.active:after
{
    opacity: 1;
}


.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}
